<!doctype html>
<html lang="en">

    <meta charset="UTF-8">
    <title>Bowling Alley</title>
  
    <h1> Bowling Alley </h1>
    <h2> Hours:</h2>
    <p> Mon-Fri: 10am-7pm</p>
    <p>Sat: 10:30am-9pm</p>
    <p>Sun:11am-6pm</p>
    
    <h2> Upcoming Tournament Dates</h2>
    <p>Thursday 7/19 - Friday 7/18</p>
    <p>Friday 8/10 - Sun 8/11</p>
    <p>Sat 8/18 - Sun 8/19</p>
    
    <h2>Bar Menu</h2>
    <p>Water $1.50</p>
    <p>Soda $2.50</p>
    <p>Pizza $1.00</p>

</html>
    

 </html>